<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/57ca54a6-4eec-4fe3-a7c7-2031a08fd294/resourceGroups/rg-bits/providers/Microsoft.ContainerRegistry/registries/bitsaksreg</ResourceId>
    <ResourceName>bitsaksreg</ResourceName>
    <ResourceGroup>rg-bits</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://bitsaksreg.azurecr.io</RegistryUrl>
    <PublishImageTag>v1</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>