<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bitsfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/57ca54a6-4eec-4fe3-a7c7-2031a08fd294/resourceGroups/rg-bits/providers/Microsoft.Web/sites/bitsfunctionapp</ResourceId>
    <UserName>$bitsfunctionapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bitsfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>